<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>CRUD</th>
        </tr>
    </thead>

    <tbody>
    <% @dotaheros.each do |hero| %>
        <tr>
            <td><%= hero.id %></td>
            <td><%= hero.name %></td>
            <td><%= button_to 'Show', dotahero_path(hero), method: 'get' %></td>
      <td><%= button_to 'Edit', edit_dotahero_path(hero), method: 'get'%></td>
      <td><%= button_to 'Remove', dotahero_path(hero), method: 'delete', data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
    </tbody>
</table>
<%= link_to "Add a New Hero", new_dotahero_path %>
